nerfstudio==1.1.5
gsplat==1.4.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
opencv-python==4.10.0.84
open3d==0.19.0
psycopg[binary]==3.2.6
boto3==1.37.38
Pillow==11.1.0
trimesh==4.6.6
pycolmap==3.11.1
lightglue @ git+https://github.com/cvg/LightGlue.git@edb2b838efb2ecfe3f88097c5fad9887d95aedad
plyfile==1.1
spz @ git+https://github.com/nianticlabs/spz.git@affd0ecea7fbb4c265ee119475af7ee5b2997482
